certifi==2021.5.30
charset-normalizer==2.0.3
cycler==0.10.0
ffmpeg==1.4
freetype-py==2.2.0
glfw==2.1.0
hsluv==5.0.2
idna==3.2
imutils==0.5.4
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.21.1
opencv-python==3.4.15.55
Pillow==8.3.1
pkg_resources==0.0.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
tk==0.1.0
urllib3==1.26.6
xwiimote==1
